body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 20%);
  color: #ebebeb;
  font-size: large;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2367c6;
  padding: 0.5rem 1rem;
  color: rgb(255, 255, 255);
  position: relative;
  box-shadow: #dadada 0 7px;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

i {
  color: #7bb6cd;
  margin-right: 0.5rem;
  transition: color 0.3s ease;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  background: none;
  border-radius: 5px;
  padding: 0.7rem 1rem;
}

.nav-links a:hover {
  background-color: #184585;
  border-radius: 5px;

  i {
    color: #ffffff;
  }
}

main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (orientation: landscape) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .text {
    flex: 2;
    text-align: left;
    margin: 0 3rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  body.index .buttons {
    width: 45%;
  }

  main.space {
    margin: 0px 10vw;
  }

  video {
    width: auto;
    height: 50vh;
    margin-left: 0 !important;
  }
  .responsive-image {
    width: auto;
    height: 50vh;
    margin-left: 0 !important;
  }
  .image-row {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .image-row .responsive-image {
    margin: 30px 0;
  }
  .nav-off {
    display: none !important;
  }
}
.nav-links li {
  display: list-item;
}

@media screen and (orientation: portrait) {
  body {
    font-size: small;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #1e1e1e;
    position: absolute;
    top: 65px;
    right: 0;
    width: 100%;
    padding: 1rem;
  }
  video {
    width: 100%;
    height: auto;
  }
  .responsive-image {
    width: 100%;
    height: auto;
  }

  .nav-links a {
    margin-left: 1.5rem;
  }

  .nav-links.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  i {
    color: #2398c6;
  }
  .nav-on {
    display: none !important;
  }
  ul {
    margin: 0;
    padding-left: 15px;
  }
  .gray-box {
    padding: 1.5rem 1rem !important;
  }
}

/* KNAPPARNA */

.color-section {
  position: relative;
  overflow: hidden;
  padding: 0.2rem 1.5rem;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 0.8rem;
  color: #1a1a1a;
  z-index: 11;
  cursor: pointer;
  transition: color 0.3s ease;
}

.color-section a {
  position: relative;
  z-index: 12;
  color: inherit;
  text-decoration: none;
  display: block;
}

.color-section h1,
.color-section h3 {
  margin: 0.3rem;
}

.color-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.6rem;
  height: 100%;
  z-index: 13;
  background-color: currentColor;
  opacity: 0.8;
}

/* ANIMATION bakgrundsfyllning */

.color-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 10;
  transition: width 0.5s ease;
}

.color-section:hover::before {
  width: 100%;
}

.color-section:hover {
  color: #ffffff;
}

.a-section {
  color: #95ea46;
  background-color: #95ea4622;
}
.a-section::before {
  background: #95ea46;
}

.b-section {
  color: #00c389;
  background-color: #00c38922;
}
.b-section::before {
  background-color: #00c389;
}

.c-section {
  color: #00b7d9;
  background-color: #00b7d922;
}
.c-section::before {
  background-color: #00b7d9;
}

.d-section {
  color: #268cff;
  background-color: #268cff22;
}
.d-section::before {
  background-color: #268cff;
}

.e-section {
  color: #7c5fff;
  background-color: #7c5fff22;
}
.e-section::before {
  background-color: #7c5fff;
}

.f-section {
  color: #b36bff;
  background-color: #b36bff22;
}
.f-section::before {
  background-color: #b36bff;
}

/* KODEXEMPEL */

.code-container {
  background: #2d2d2d;
  border-radius: 15px;
  overflow: hidden;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.code-header {
  background: #1e1e1e;
  color: #ffffff;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.code-header i {
  margin-right: 5px;
}

.copy-button {
  background-color: #4caf50;
  color: white;
  /* border: none; */
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  align-items: center;
}

.copy-button:hover {
  background-color: #45a049;
}

pre {
  margin: 0;
  padding: 15px;
  overflow-x: auto;
  background: transparent;
  border-radius: 0 0 10px 10px;
}

/* Bilder och videor  */

video {
  display: block;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

video:hover {
  transform: scale(1.02);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

/* BILD-STYLING */
.responsive-image {
  display: block;
  margin: 2rem auto;
  border-radius: 10px;
  background-color: #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.responsive-image:hover {
  /* transform: scale(1.02); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

/*  kontaktformulär */

.containerF {
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input,
textarea {
  padding: 0.6rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  background-color: #268cff;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #184585;
}

#success-message {
  color: green;
  margin-top: 1em;
  display: none;
}

/* box */

.gray-box {
  background-color: #3e3e3e; /* Mörkgrå bakgrund, passar med ditt tema */
  padding: 1.5rem 2rem;
  border-radius: 15px;
  /* margin: 2rem auto; */
  /* max-width: 900px; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.gray-box h2 {
  color: #ffffff;
}

.gray-box p,
.gray-box li {
  color: #dcdcdc;
  line-height: 1.6;
}

a {
  color: #1e90ff;
  text-decoration: underline;
  font-family: Arial, sans-serif;
}
.code-scroll {
  overflow-x: auto;
  max-width: 100%;
  white-space: nowrap;
  display: block;
  padding: 0.5rem;
}
/* Footer */

.footer {
  background-color: #222;
  color: #ccc;
  padding: 20px 10px;
  text-align: center;
  margin-top: 20px;
}

.footer a {
  color: #b36bff;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  margin: 0 8px;
}
